<div class="row">
  <div class="col-md-12">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4">
      

      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="/download1.png" alt="EasyRent Logo" width="40" height="40" class="me-2" />
        <span>EasyRent</span>
      </a>

      <div class="collapse navbar-collapse justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cars" routerLinkActive="active">Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">Aboutus</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
          
        </ul>
      </div>

      <div class="d-flex ms-auto">
        <a class="nav-link text-white p-1" routerLink="/login" routerLinkActive="active">
          <i class="bi bi-box-arrow-in-right me-1"></i> Login
        </a>
        <a class="nav-link text-white p-1" routerLink="/register" routerLinkActive="active">
          <i class="bi bi-person-plus-fill me-1"></i> Register
        </a>
      </div>
    </nav>
  </div>
</div>
